@using Tewr.Blazor.FileReader

<div class="card mt-1 mb-0">
    <div class="card-title p-2 mb-0">
        <div class="row mb-0">
            <strong class="col">@($"Загрузка -> {_fileName}")</strong>
        </div>
    </div>
    <div class="progress mr-2 ml-2 mb-2">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@_progress" aria-valuemin="0" aria-valuemax="100" style="width: @((int)_progress)%;">@_progress%</div>
    </div>
    <div class="progress mr-2 ml-2 mb-2">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@_totalProgress" aria-valuemin="0" aria-valuemax="100" style="width: @((int)_totalProgress)%;">@_totalProgress%</div>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<IFileReference> Files { get; set; }
    [Parameter]
    public AppContainer Container { get; set; }

    private string _fileName { get; set; }
    private double _progress { get; set; } = 0;
    private double _totalProgress { get; set; } = 0;

    public async Task OnStartUploadFile(string fileName)
    {
        _fileName = fileName;
        await InvokeAsync(() => StateHasChanged());
    }

    public async Task OnProgressUpdated(double progress)
    {
        _progress = Math.Round(progress, 2);
        await InvokeAsync(() => StateHasChanged());
    }

    public async Task OnProgressTotalUpdated(double progress)
    {
        _totalProgress = Math.Round(progress, 2);
        await InvokeAsync(() => StateHasChanged());
    }
}
